nav{}
nav ul{margin:0; }
nav li{width:80px;}
nav ul li{font-size:30px;}
nav h2{width:104px; color:gray;  transition: 0.4s ease;}
nav h2 a:hover{color:black;  transition: 0.4s ease;}
.banner_out_left{float:left; width:50%;     position: relative;
    z-index: 99;}
.banner_out_right{ float:right; width:50%;}
.banner_img{}
.banner_img_set{position:relative; z-index:55;  transition:all 500ms linear;}
.banner img{width:400px; height:500px; }
/*
#banner_img2{    bottom: 500px;}
#banner_img3{    bottom: 1000px;}
*/

